import Aesop
import Imp
open Imp

theorem my_hoare_triple : {% if specification.metavariables %}forall ({{ specification.metavariables }} : Int), {% endif %}
  {{ "{{astn " + specification.precondition + "}}" }}({{ command }}){{ "{{astn " + specification.postcondition + "}}" }} → False := by
  {{ proof }}
