import Aesop
import Imp
open Imp

example : {% if specification.metavariables %}forall ({{ specification.metavariables }} : Int), {% endif %}
{{ "{{astn " + specification.precondition + "}}" }}({{ command }}){{ "{{astn " + specification.postcondition + "}}" }} := by
  {{ proof }}
