import Aesop
import Imp
open Imp

example : {% if metavariables %}forall ({{ metavariables }} : Int), {% endif %}
{{ "{{" + specification.precondition + "}}" }}({{ command }}){{ "{{" + specification.postcondition + "}}" }} := by
  {{ proof }}
