Getting warmer: your previous attempt got the following error message:
{{ stderr }}

Write a proof of the following hoare triple
\{ {{ specification.precondition }} \} {{ command }} \{ {{ specification.postcondition }} \}
