{% if stderr %}
Getting warmer, your previous attempt got the following error message:
{{ stderr }}
{% endif %}

Prove the {% if positive %}affirmation{% else %}refutation{% endif %} of the following hoare triple
{% if metavariables %}forall ({{ metavariables }} : Int), {% endif %} \{ {{ specification.precondition }} \} {{ command }} \{ {{ specification.postcondition }} \}
