name: CI Checks

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  imp-lake:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: leanprover/lean-action@v1
        with:
          lake-package-directory: imp

  comms-typst:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: typst-community/setup-typst@v4
      - name: Whitepaper compile
        run: typst compile main.typ main.pdf
        working-directory: comms/whitepaper

  protocol-uv:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
      - run: uv run ruff check src
        working-directory: fcp
      - run: uv run ruff format --check src
        working-directory: fcp
