name: CI Checks

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  imp-lake:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: leanprover/lean-action@v1
        with:
          lake-package-directory: ./imp
      - name: Upload .lake directory
        uses: actions/upload-artifact@v4
        with:
          name: imp-lake
          path: imp/.lake
          include-hidden-files: true
          if-no-files-found: error

  comms-typst:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: typst-community/setup-typst@v4
      - name: Whitepaper compile
        run: typst compile main.typ
        working-directory: ./comms/whitepaper
      - name: Toronto talk compile
        run: typst compile template.typ
        working-directory: ./comms/talks/toronto

  protocol-uv:
    needs: imp-lake
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
      - uses: leanprover/lean-action@v1
        with:
          lake-package-directory: ./imp
          auto-config: false
      - name: Download .lake directory
        uses: actions/download-artifact@v4
        with:
          name: imp-lake
          path: imp/.lake
          include-hidden-files: true
      - run: uv sync
        working-directory: ./fcp
      - run: uv run ruff check src
        working-directory: ./fcp
      - run: uv run ruff format --check src
        working-directory: ./fcp
      - run: uv run pyright src
        working-directory: ./fcp
      - run: uv run pytest --ignore src/tests/networked/*.py
        working-directory: ./fcp
